* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000000;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
